* {
	font-family: arial, sans-serif;
	margin: 0 0;
	box-sizing: border-box;
	
}

body {
	background-image: url(../img/banner_premios.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.header {
	
	margin: 0 auto;
}

.menu {
	font-size: 25px;
	padding: 15px;
	background-color: #938455;
	border-bottom: 7px #152635 solid;
	text-align: center;
	margin: 30px;
}


a {
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 20px;
	margin: 20px;


}

.titulo {
	background-color: #152635;
	font-weight: bolder;

}


a:hover {
	background-color: #152635;

}

.arriba {
	margin-top: 20px;
	text-align: center;
	padding: 15px;
}

.titulopremios {
	width: 900px;
	margin: auto;
	padding: 30px;
	margin-bottom: 30px;
}

 div .titulopremios h2 {
	color: white;
	background-color: #152635;
	border-bottom: 10px solid #938455;
	text-align: center;
	font-size: 75px;
	font-weight: bolder;
}


.contenedor {
	text-align: center;

}

.premios {
	display: inline-block;
	margin: 50px 70px 70px 0;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
	border-radius: 5px;

}

.premios h2,h3 {
	margin: auto;
	padding: 7px;
	color: #152635;
}


.footer {
	text-align: center;
	background-color: #152635;
	padding: 5px;
	color: white;
	font-weight: lighter;
	font-size: 13px;
}
